parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataFactory\\) of method Prophetz\\\\DoctrineInMemory\\\\InMemoryEntityManager\\:\\:getMetadataFactory\\(\\) should be compatible with return type \\(Doctrine\\\\Persistence\\\\Mapping\\\\ClassMetadataFactory\\<Doctrine\\\\Persistence\\\\Mapping\\\\ClassMetadata\\<object\\>\\>\\) of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:getMetadataFactory\\(\\)$#"
			count: 1
			path: src/InMemoryEntityManager.php

		-
			message: "#^Class Prophetz\\\\DoctrineInMemory\\\\InMemoryRepository extends generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/InMemoryRepository.php

		-
			message: "#^Property Prophetz\\\\DoctrineInMemory\\\\RepositoryContainer\\:\\:\\$values with generic class Prophetz\\\\DoctrineInMemory\\\\InMemoryRepository does not specify its types\\: Entity$#"
			count: 1
			path: src/RepositoryContainer.php

		-
			message: "#^Class Prophetz\\\\DoctrineInMemory\\\\Entities\\\\ReadonlyGeneratedId has an uninitialized readonly property \\$id\\. Assign it in the constructor\\.$#"
			count: 1
			path: tests/Entities/ReadonlyGeneratedId.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false and 'First callback did…' will always evaluate to false\\.$#"
			count: 1
			path: tests/InMemoryEntityManagerTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false and 'Second callback did…' will always evaluate to false\\.$#"
			count: 1
			path: tests/InMemoryEntityManagerTest.php